{% extends 'base.html' %}

{% block content %}
<p style="width:750px;height:20px;font-size:18px;margin:7px 5px;">■ 자기소개</p>
			<table class="table1" >
				<tbody>
				<tr>
					<td style="width:200px;background-color:#e2e2e2;">학과</td>	
					<td style="width:550px;">IT·디자인융합학부</td>
				</tr>
				<tr>
					<td style="width:200px;background-color:#e2e2e2;">이름</td>	
					<td>박상진</td>
				</tr>
				<tr>
					<td style="width:200px;background-color:#e2e2e2;">학번</td>	
					<td>2022860020</td>
				</tr>
				<tr>
					<td style="width:200px;background-color:#e2e2e2;">자기소개</td>	
					<td>건물시설관리를 하면서 회사가 하는 일을 중심으로 만들었습니다.</td>
				</tr>

				</tbody>
			</table>
{% endblock content %}