
<style>
.table1 { border-collapse:collapse; margin-right: auto;height:420px; }  
.table1 th, .table1 td { border:1px solid black;height:60px;text-align:center;font-size:16px; }
</style>

  <style>
    .menu-item {
      display: block; 
      width: 200px;
      height: 35px; 
      line-height: auto; 
      margin: 7px 5px; 
      text-align: center;
      font-size: 20px;
      color: #333; 
      text-decoration: none;
      border: 1px solid #333;
      border-radius: 2px;
      box-sizing: border-box;
      transition: color 0.3s ease, border-color 0.3s ease;
    }
    .menu-item:hover {
      background-color: #007BFF;
      color: #fff;
    }
  </style>

<p style="width:750px;height:24px;font-size:24px;display:flex;justify-content: space-around">
  <a class="menu-item" href="{% url 'reportPage:index' %}">메인</a>
  <a class="menu-item" href="{% url 'reportPage:abort' %}">자기소개</a>
  <a class="menu-item" href="{% url 'reportPage:intro' %}">회사소개</a>
  <a class="menu-item" href="{% url 'reportPage:service' %}">주요업무</a>
</p>

{% block content %}{% endblock content %}
