{% extends 'base.html' %}

{% block content %}
<p style="width:750px;height:20px;font-size:18px;margin:7px 5px;">■ 회사소개</p>
			<table class="table1" >
				<tbody>
				<tr>
					<td style="width:200px;background-color:#e2e2e2;">설립</td>	
					<td style="width:550px;">2001년 9월</td>
				</tr>
				<tr>
					<td style="width:200px;background-color:#e2e2e2;">사업내용</td>	
					<td style="width:550px;">용역경비, 시설경비</td>
				</tr>
				<tr>
					<td style="width:200px;background-color:#e2e2e2;">위치</td>	
					<td style="width:550px;">경기도 시흥시 정왕신길로 139-4 00빌딩</td>
				</tr>
				<tr>
					<td style="width:200px;background-color:#e2e2e2;">전화</td>	
					<td style="width:550px;">02-1234-1234</td>
				</tr>
				</tbody>
			</table>
{% endblock content %}